


 .navbar-expand-lg{
    flex-wrap: wrap;
    justify-content: space-around
 }
 .firstsection{
    display: grid;
    gap: 40px;
    background-image:url(./travel.avif);
    background-position: center;
    background-repeat: no-repeat;

 }
 .para{
    display:block;
    font-size: 80px;
    font-weight: bolder;

    
 }
 .lorem{
    color: white;
 }
 img{
    width: 50px;
 }
 .card{
    height: 30px;
 }
 .card-img-top{
    /* height: 100px; */
    width: 100px;
    height: 150px;
 }
 .boat{
    display: flex;
    justify-content: space-between;
 }