.firstsection {
  display: grid;
  gap: 30px;
  background-image: url(./travel.avif);
  background-position: center;
  background-size: cover;
  justify-content: space-evenly;
  height: 100vh;
}
.para {
  display: block;
  font-size: 80px;
  font-weight: bolder;
}
.lorem {
  color: white;
}

.secondclass {
  display: grid;
  gap: -5px;
  justify-content: space-evenly;
  height: 100vh;
}
.start {
  font-size: 35px;
  font-weight: bold;
}
.card-img-top {
  height: 160px;
  object-fit: cover;
}

.boat {
  display: flex;
  justify-content: space-between;
  height: 250px;
  gap: 15px;
}
.card-title {
  margin-top: -19px;
}
.card {
  text-align: center;
}
.second {
  margin-top: 30px;
}
